In [1]:
import tensorflow as tf
import os
os.environ['TF_DETERMINISTIC_OPS'] = '1'
from sklearn.preprocessing import MinMaxScaler
import numpy as np
import pandas as pd
import tensorflow as tf
import MIDASpy as md

data_0 = pd.read_csv('/home/sameera/Downloads/archive/missing-value/final2.csv')
data_0 = data_0.iloc[: , 1:]
data_0=data_0.drop(['BIRTH','SCREEN'],axis=1)
data_0.columns.str.strip()

Index(['DAST', 'SEX', 'HISPANIC', 'RACE', 'VET', 'ACTIVE', 'DEPLOY', 'AUDIT',
       'COSCREEN', 'BI', 'BT', 'RT', 'ANYALC', 'BINGEDAYS', 'DRUGDAYS',
       'ALCDRUGS', 'DAYSCOCAINE', 'MARYJDAYS', 'ANYOPIATEDAYS', 'METHADONE',
       'HALLUC', 'METHDAYS', 'OTHERDRUGS', 'INJECT', 'AGE', 'TOBMONTH'],
      dtype='object')

In [2]:
bins= [0,21,30,45,60,100]
labels = [1,2,3,4,5]
data_0['AGE'] = pd.cut(data_0['AGE'], bins=bins, labels=labels, right=False)
data_0.head()

,DAST,SEX,HISPANIC,RACE,VET,ACTIVE,DEPLOY,AUDIT,COSCREEN,BI,...,DAYSCOCAINE,MARYJDAYS,ANYOPIATEDAYS,METHADONE,HALLUC,METHDAYS,OTHERDRUGS,INJECT,AGE,TOBMONTH
0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,5,1.0
1,0.0,0.0,0.0,2.0,1.0,0.0,4.0,2.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4,1.0

In [3]:
bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['BINGEDAYS'] = pd.cut(data_0['BINGEDAYS'], bins=bins, labels=labels, right=False)

bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['DRUGDAYS'] = pd.cut(data_0['DRUGDAYS'], bins=bins, labels=labels, right=False)

bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['ALCDRUGS'] = pd.cut(data_0['ALCDRUGS'], bins=bins, labels=labels, right=False)

bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['DAYSCOCAINE'] = pd.cut(data_0['DAYSCOCAINE'], bins=bins, labels=labels, right=False)


bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['MARYJDAYS'] = pd.cut(data_0['MARYJDAYS'], bins=bins, labels=labels, right=False)

bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['ANYOPIATEDAYS'] = pd.cut(data_0['ANYOPIATEDAYS'], bins=bins, labels=labels, right=False)

bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['METHADONE'] = pd.cut(data_0['METHADONE'], bins=bins, labels=labels, right=False)


bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['HALLUC'] = pd.cut(data_0['HALLUC'], bins=bins, labels=labels, right=False)


bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['METHDAYS'] = pd.cut(data_0['METHDAYS'], bins=bins, labels=labels, right=False)

bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['OTHERDRUGS'] = pd.cut(data_0['OTHERDRUGS'], bins=bins, labels=labels, right=False)

bins= [0,10,20,30,40]
labels = [1,2,3,4]
data_0['ANYALC'] = pd.cut(data_0['ANYALC'], bins=bins, labels=labels, right=False)

In [4]:

data_0['DAST'] = data_0['DAST'].astype(float).astype(object)
data_0['SEX'] = data_0['SEX'].astype(float).astype(object)
data_0['HISPANIC'] = data_0['HISPANIC'].astype(float).astype(object)
data_0['RACE'] = data_0['RACE'].astype(float).astype(object)
data_0['VET'] = data_0['VET'].astype(float).astype(object)
data_0['ACTIVE'] = data_0['ACTIVE'].astype(float).astype(object)
data_0['DEPLOY'] = data_0['DEPLOY'].astype(float).astype(object)
data_0['AUDIT'] = data_0['AUDIT'].astype(float).astype(object)
data_0['COSCREEN'] = data_0['COSCREEN'].astype(float).astype(object)

data_0['BI'] = data_0['BI'].astype(float).astype(object)
data_0['BT'] = data_0['BT'].astype(float).astype(object)
data_0['ANYALC'] = data_0['ANYALC'].astype(float).astype(object)
data_0['BINGEDAYS'] = data_0['BINGEDAYS'].astype(float).astype(object)
data_0['DRUGDAYS'] = data_0['DRUGDAYS'].astype(float).astype(object)
data_0['ALCDRUGS'] = data_0['ALCDRUGS'].astype(float).astype(object)
data_0['DAYSCOCAINE'] = data_0['DAYSCOCAINE'].astype(float).astype(object)
data_0['MARYJDAYS'] = data_0['MARYJDAYS'].astype(float).astype(object)
data_0['ANYOPIATEDAYS'] = data_0['ANYOPIATEDAYS'].astype(float).astype(object)

data_0['METHADONE'] = data_0['METHADONE'].astype(float).astype(object)

data_0['METHDAYS'] = data_0['METHDAYS'].astype(float).astype(object)
data_0['RT'] = data_0['RT'].astype(float).astype(object)

data_0['OTHERDRUGS'] =data_0['OTHERDRUGS'].astype(float).astype(object)
data_0['HALLUC'] = data_0['HALLUC'].astype(float).astype(object)
data_0['INJECT'] = data_0['INJECT'].astype(float).astype(object)

data_0['AGE'] = data_0['AGE'].astype(float).astype(object)
data_0['TOBMONTH'] = data_0['TOBMONTH'].astype(float).astype(object)

In [5]:
df1=data_0
df1

,DAST,SEX,HISPANIC,RACE,VET,ACTIVE,DEPLOY,AUDIT,COSCREEN,BI,...,DAYSCOCAINE,MARYJDAYS,ANYOPIATEDAYS,METHADONE,HALLUC,METHDAYS,OTHERDRUGS,INJECT,AGE,TOBMONTH
0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,5.0,1.0
1,0.0,0.0,0.0,2.0,1.0,0.0,4.0,2.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,4.0,1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,4.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6974,0.0,0.0,0.0,1.0,1.0,0.0,5.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
6975,0.0,0.0,0.0,1.0,1.0,0.0,5.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
6976,0.0,1.0,0.0,2.0,1.0,0.0,5.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
6977,0.0,0.0,0.0,2.0,1.0,0.0,5.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
6978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df1=df1.dropna()
df=df1
df.to_csv("Xdata.csv")
df

,DAST,SEX,HISPANIC,RACE,VET,ACTIVE,DEPLOY,AUDIT,COSCREEN,BI,...,DAYSCOCAINE,MARYJDAYS,ANYOPIATEDAYS,METHADONE,HALLUC,METHDAYS,OTHERDRUGS,INJECT,AGE,TOBMONTH
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,4.0,1.0
5,1.0,1.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,3.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
6,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,4.0,1.0,0.0,3.0,1.0
8,2.0,0.0,0.0,3.0,1.0,1.0,4.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,4.0,1.0
6280,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,4.0,1.0
6286,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0
6288,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
6289,4.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3.0,0.0

In [7]:
import collections
import random

replaced = collections.defaultdict(set)
ix = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
random.shuffle(ix)
to_replace = int(round(.1*len(ix)))
for row, col in ix:
    if len(replaced[row]) < df.shape[1] - 1:
        df.iloc[row, col] = np.nan
        to_replace -= 1
        replaced[row].add(col)
        if to_replace == 0:
            break

/home/sameera/anaconda3/envs/py3.8/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/sameera/anaconda3/envs/py3.8/lib/python3.8/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [8]:


df.to_csv("Xdatacorruptlight.csv")

In [9]:
df

,DAST,SEX,HISPANIC,RACE,VET,ACTIVE,DEPLOY,AUDIT,COSCREEN,BI,...,DAYSCOCAINE,MARYJDAYS,ANYOPIATEDAYS,METHADONE,HALLUC,METHDAYS,OTHERDRUGS,INJECT,AGE,TOBMONTH
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
4,NaN,NaN,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,NaN,1.0,1.0,1.0,1.0,1.0,0.0,4.0,1.0
5,1.0,NaN,0.0,2.0,0.0,0.0,0.0,1.0,0.0,1.0,...,1.0,3.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
6,2.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,4.0,1.0,0.0,3.0,1.0
8,2.0,0.0,0.0,3.0,1.0,1.0,4.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,0.0,1.0,0.0,2.0,0.0,0.0,0.0,NaN,0.0,NaN,...,1.0,1.0,1.0,NaN,1.0,1.0,1.0,0.0,4.0,1.0
6280,0.0,1.0,0.0,2.0,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,0.0,4.0,1.0
6286,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,NaN
6288,1.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
6289,4.0,0.0,0.0,1.0,NaN,0.0,0.0,NaN,1.0,0.0,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,0.0,3.0,0.0

In [10]:
df=df1
import collections
import random

replaced = collections.defaultdict(set)
ix = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
random.shuffle(ix)
to_replace = int(round(.2*len(ix)))
for row, col in ix:
    if len(replaced[row]) < df.shape[1] - 1:
        df.iloc[row, col] = np.nan
        to_replace -= 1
        replaced[row].add(col)
        if to_replace == 0:
            break

/home/sameera/anaconda3/envs/py3.8/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/sameera/anaconda3/envs/py3.8/lib/python3.8/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [11]:


df.to_csv("Xdatacorruptheavy.csv")

In [12]:
df

,DAST,SEX,HISPANIC,RACE,VET,ACTIVE,DEPLOY,AUDIT,COSCREEN,BI,...,DAYSCOCAINE,MARYJDAYS,ANYOPIATEDAYS,METHADONE,HALLUC,METHDAYS,OTHERDRUGS,INJECT,AGE,TOBMONTH
3,1.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
4,NaN,NaN,0.0,1.0,0.0,NaN,0.0,1.0,NaN,1.0,...,1.0,NaN,1.0,1.0,1.0,NaN,NaN,0.0,4.0,1.0
5,1.0,NaN,NaN,2.0,0.0,0.0,0.0,1.0,0.0,1.0,...,NaN,3.0,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0
6,2.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,NaN,1.0,1.0,4.0,1.0,0.0,3.0,1.0
8,NaN,0.0,0.0,NaN,1.0,1.0,4.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,NaN,1.0,1.0,0.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,0.0,1.0,0.0,NaN,NaN,0.0,0.0,NaN,0.0,NaN,...,1.0,1.0,1.0,NaN,1.0,NaN,1.0,0.0,4.0,1.0
6280,0.0,1.0,0.0,2.0,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,0.0,NaN,1.0
6286,NaN,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,NaN,NaN,0.0,1.0,NaN
6288,1.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,...,1.0,1.0,1.0,1.0,NaN,1.0,1.0,0.0,2.0,1.0
6289,NaN,0.0,NaN,1.0,NaN,0.0,0.0,NaN,1.0,0.0,...,1.0,1.0,1.0,1.0,NaN,NaN,1.0,0.0,NaN,0.0

### Beta VAE Imputation